* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: whitesmoke;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    background: white;
    display: grid;
    border-radius: 40px;
    border: solid 3px dimgray;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 80vw;
    height: 85vh;
    grid-template-columns: 1fr 1fr;
}

.sign-in {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: lightseagreen;
    border-radius: 40px 0 0 40px;
    width: 35vw;
}

#welcome-back {
    text-align: center;
    color: white;
    font-size: 5vmin;
}

#paragraph-welcome-back {
    text-align: center;
    color: white;
    font-size: 2vmin;
}

#button {
    width: 10vw;
    height: 4vh;
    margin-top: 5%;
    color: white;
    background: lightseagreen;
    font-size: 1.5vmin;
    border-radius: 30px;
    border: solid 3px white;
}

.sign-in-content {
    margin-top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 35vw;
}

.sign-up-content {
    margin-top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
}

#title-create-account {
    color: lightseagreen;
    text-align: center;
    font-size: 5vmin;
}

#create-account-paragraph {
    text-align: center;
    color: gray;
    font-size: 2vmin;
}

.registration {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 20vw;
    height: 30vh;
}

.registration i {
    margin-right: 10px;
    color: gray;
}

.name {
    display: flex;
    align-items: center;
    background-color: #e9ecef;
    padding: 1.8vmin;
    margin-bottom: 10px;
    border-radius: 30px;
    width: 20vw;
    height: 5vh;
}

.email {
    display: flex;
    align-items: center;
    background-color: #e9ecef;
    padding: 1.8vmin;
    margin-bottom: 10px;
    border-radius: 30px;
    width: 20vw;
    height: 5vh;
}

.password {
    display: flex;
    align-items: center;
    background-color: #e9ecef;
    padding: 1.8vmin;
    margin-bottom: 10px;
    border-radius: 30px;
    width: 20vw;
    height: 5vh;
}

#name-input {
    border: 0;
    background: #e9ecef;
    width: 12vw;
    height: 2vh;
}

#email-input {
    border: 0;
    background: #e9ecef;
    width: 12vw;
    height: 2vh;
}

#password-input {
    border: 0;
    background: #e9ecef;
    width: 12vw;
    height: 2vh;
}

